{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Desembolso list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cuota</th>
                <th>Fechapagar</th>
                <th>Pagar</th>
                <th>Fechapago</th>
                <th>Pagado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('desembolso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cuota }}</td>
                <td>{{ entity.fechaPagar }}</td>
                <td>{{ entity.pagar }}</td>
                <td>{{ entity.fechaPago }}</td>
                <td>{{ entity.pagado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('desembolso_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('desembolso_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('desembolso_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
