{% extends "IPDUVCreditoBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block content -%}
    <br>
	    <div id="observaciones">
            <div class="row">
                <div class="col-lg-2">
                    Cantidad de Cuotas:
                </div>
                <div class="col-lg-1">
                     <input type="number" id="txtCuotas" class="form-control" aria-describedby="basic-addon1">
                </div>

                <div class='col-md-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1' >
                                <input type="text" id="txtFecha" class="form-control" aria-describedby="basic-addon1">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1">
                    Monto Total($):
                </div>
                <div class="col-lg-2">
                     <input type="text" id="txtMonto" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="col-lg-1">
                    <button id= "btGenerar" type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-plus"></span> Generar desembolsos</button>
                </div>
            </div>

            
	  		<div class="row">
    		  	<div class="col-md-12">
    				<br>
    				<table id="table_desembolso"  class="display" cellspacing="0" width="100%" >
    				    <thead>
    				        <tr>
    					        <th>Id</th>
                                <th>Cuota</th>
                                <th>Fechapagar</th>
                                <th>Pagar</th>
                                <th>Fechapago</th>
                                <th>Pagado</th>
    				        </tr>
    				    </thead>
    				    <tbody>
    				   	   <tr>
    				       </tr>
    				     </tbody>
    			    </table>
        	       </div>
        	    </div>
    		</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('desembolso') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}


{% block javascripts1 %}

 	{{ parent() }}

    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
    <script src="{{asset('js/')}}moment.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>

  
    <script type="text/javascript"> 

// ESTO ES PARA QUE EL DATEPICKER GUARDE SOLO FECHA
$(function() {              
           // Bootstrap DateTimePicker v4
           $('#datetimepicker1').datetimepicker({
                 format: 'DD/MM/YYYY'
           });
        });   

// SI CARGO EL SCRIPT ASI FUNCIONA
        // var dataSet = [
        //     [ "33", "1", "2011/04/25", "$320,800", "2011/04/25", "$320,800" ],
        //     [ "34", "2", "2011/07/25", "$170,750", "2011/07/25", "$170,750" ],
        //     [ "35", "3", "2009/01/12", "$86,000", "2009/01/12", "$86,000" ],
        //     [ "36", "4", "2012/03/29", "$433,060", "2012/03/29", "$433,060" ],
        // ];

// ESTO ES PARA CARGAR ESE ARRAY EN LA GRILLA
//         $(document).ready(function() {
//         $('#table_desembolso').DataTable( {
//             data: dataSet,
//             columns: [
//                 { title: "id", "visible": false },
//                 { title: "cuota" },
//                 { title: "fechapagar" },
//                 { title: "pagar." },
//                 { title: "fechapago" },
//                 { title: "pagado" }
//             ]
//         } );
// } );



    // EL BOTON GENERAR TOMA LA CANTIDAD DE CUOTAS Y GENERA UN DESEMBOLSO POR CUOTA
    // CADA DESEMBOLSO TIENE FECHA DE PAGO Y PAGADA(NO SIEMPRE SON LAS MISMAS),
    // TAMBIEN PASA QUE NO SIEMPRE SE PAGA LA CANTIDAD SOLICITADA
    $('#btGenerar').click(generarDesembolsos);
    function generarDesembolsos()
    {
        var cuotas = $('#txtCuotas').val();

        var json = [];

        for (var i = 0; i < cuotas; i++) {
            item = {}
            item ["id"] = i;
            item ["cuota"] = i;
            item ["fechapagar"] = $('#txtFecha').val();
            item ["pagar"] = $('#txtMonto').val();
            item ["fechapago"] = $('#txtFecha').val();
            item ["pagado"] = $('#txtMonto').val();
            json.push(item);
            
        };
alert(json);

//ESTE CODIO ESE EL ULTIMO QUE PROBE, LO SAQUE DE LA PAGINA DEL DATATABLE, ME TIRA ERROR
var data = jQuery.map(json.BrowserStats, function(el, i) {
  return new [el.engine, el.browser, el.platform, el.version];
});

$('#table_desembolso').dataTable( {
  "aaData": data,
  "aoColumns": [
                 { "sTitle": "id"},
                 { "sTitle": "cuota" },
                 { "sTitle": "fechapagar" },
                 { "sTitle": "pagar." },
                 { "sTitle": "fechapago" },
                 { "sTitle": "pagado" }
            ]
        } );
}
// item  =  i  + ', ' + $('#txtFecha').val() + ', ' +  $('#txtMonto').val()  + ', ' +  $('#txtFecha').val() + ', ' + $('#txtMonto').val();

    </script>

{% endblock %}