{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Desembolso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cuota</th>
                <td>{{ entity.cuota }}</td>
            </tr>
            <tr>
                <th>Fechapagar</th>
                <td>{{ entity.fechaPagar }}</td>
            </tr>
            <tr>
                <th>Pagar</th>
                <td>{{ entity.pagar }}</td>
            </tr>
            <tr>
                <th>Fechapago</th>
                <td>{{ entity.fechaPago }}</td>
            </tr>
            <tr>
                <th>Pagado</th>
                <td>{{ entity.pagado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('desembolso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('desembolso_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
